/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/login_page3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* Works properly on desktop */
}

/* Mobile view adjustments */
@media (max-width: 767px) {
    body {
        background-size: 300%; /* Ensures the image covers the whole screen */
        background-position: center; /* Keeps the image centered */
    }
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(16, 5, 5, 0.2);
}

h2 {
    color: #1f1515;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ac1111;
    background: transparent;
    outline: none;
    color: #0b0a0a;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgba(189, 38, 186, 0.7);
    font-size: 16px;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #00c6ff;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #00c6ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #0072ff;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}

.register-link a {
    color: #00c6ff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
